{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="">
        <label for="nome" class="form-label">CNPJ</label>
        {{ form.cnpj }}
    </div>
    
    <div class="">
        <label for="nome" class="form-label">Nome da Empresa</label>
        {{ form.nome_empresa }}
    </div>

    <div class="label">
        <label for="nome" class="form-label">Categoria</label>
        {{ form.categoria }}
    </div>
    
    <div class="">
        <label for="nome" class="form-label">Valor</label>
        {{ form.quitado }}
    </div>

    <div class="">
        <label for="nome" class="form label">Stand</label>
        {{ form.stand }}
    </div>

    <div class="">               
        <button type="submit" class="btn btn-primary">Reservar</button>
    </div>
</form> 
{%endblock%}